<script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.1/mapbox.css' rel='stylesheet' />

%div{:class => "wrapper"}
  %div{:class => "map-body"}
    #map{ data: { gauges: @gauges } }
  %div{:id => "sidebar"}
    %h2{:class => 'user-favorites'}
      - if current_user
        Your Favorite Rivers
    %ul.favorite-rivers= render collection: @favorite_rivers, partial: 'rivers/favorite_river'

    %h2
      Rivers Near You
      = link_to 'Next', root_path(:offset => @next_offset)

    %ul.rivers= render collection: @rivers, partial: "rivers/rivers"
