%h1
  = @river.name

%ul
  = render collection: @runs, partial: 'run'

- @gauges.each do |gauge|
  %li
    = gauge.geometry.coordinates

%div{:class => "wrapper"}
  %div{:class => "map-body"}
    #river-map-show{ data: { gauges: @gauges.to_json } }
