// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-body {
  float:left;
  margin:0;
  padding:0;
}

.wrapper {
  height:100%;
  overflow:hidden;
  position: absolute;
  width:100%;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:70%;
  float:left;
}

#sidebar {
  width: 30%;
  float:right;
  height:90%;
  overflow-x: auto;
  overflow-y: auto;
}

  ul.rivers {
    list-style:none;
    li {
      margin:0;
      padding:0;
    }
  }


