// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.map-body {
  float:left;
  margin:0;
  padding:0;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:70%;
  float:left;
}

#sidebar {
  width: 28%;
  float:right;
  height:100%;
  padding-left:20px;
  overflow-x: auto;
  overflow-y: auto;
  margin-top: 35px;
}

  ul.rivers, ul.favorite-rivers {
    padding:0;
    margin:0;
    margin-bottom:15px;
    list-style:none;
    li {
      margin:0;
      padding:0;
    }
  }


