%header
  %p Welcome to River Rat
- if current_user
  %p Logged in as
  = current_user.email
  =  link_to "Logout", logout_path, :method => :get
- else
  = link_to "Sign Up", signup_path, :method => :get
  = link_to "Login", login_path, :method => :get
